form {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 1% 0;


}
fieldset {
	display: flex;
	flex-direction: column;
	padding: 0.2rem;
	margin-bottom: 1.5rem;
	border: 0;
}


.field {
	flex-basis: 100%;
	height: 2rem;
	font-family: "Ubuntu-L" , helvetica , Arial , sans-serif;
	font-size: 1rem;
}

.field::placeholder {
		color: var(--red);
}

.txtarea {
	height: 8rem;
	resize: none;
}

.button{
	font-size: 1rem;
	height: 2rem;
	margin-right: 1rem;
}
