@font-face {
  font-family: "Ubuntu-L";
  src: url(/fonts/Ubuntu-L.ttf) format('truetype');
}

@font-face {
  font-family: "Ubuntu-M";
  src: url(/fonts/Ubuntu-M.ttf) format('truetype');
}

html {
  --grey: #333333;
  --medium-grey: #666666;
  --light-grey: #f2f2f2;
  --blue: #006CD1;
  --brown: #8b0000;
  --light-orange: #ffe0cc;
  --light-yellow: #FFFFE0;
  --red: #ff0000;
  --green: #2f4f4f;
  --medium-green: #bfd9d9;
  --light-green: #eff5f5;
}

body {
  /*
  margin: 0;
  padding: 0;
  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: white;
  font-family: "Ubuntu-L", Helvetica, Arial, sans-serif;
  color: var(--grey);
  font-size: 1.2rem;
  font-weight: normal;
}
@media screen and (min-width: 600px){
    body{
      font-size: 1.1rem;
    }
}
@media screen and (min-width: 1000px){
    body{
      font-size: 1rem;
    }
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--green);
  padding: 1%;
}
.header_logos {

  display: flex;
  flex-direction: row;
  flex-basis: 10%;
}

nav {  
  flex-basis: 70%;
  padding: 0.5rem;
}

@media screen and (min-width: 600px){
    nav {
      flex-basis: 60%;
      padding: 1rem;
  }
}

.nav_link {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  margin-right: 0.5rem;
}
@media screen and (min-width: 600px){
  .nav_link {
  font-size: 1.5rem;
  margin-right: 1rem;
  }
}
.central {
  /*background-color: yellow;*/
  display: flex;
  flex: 1;
  flex-direction: column;
}
@media screen and (min-width: 1000px){
  .central {
  flex-direction: row;
  }
}

main {
  background-color: lightpink;
  flex-basis: 75%;
  padding: 1%;
}
@media screen and (min-width : 600px){
  main{
    background-color: lightsteelblue;
  }
}
@media screen and (min-width: 1000px){
  main{
    background-color: lightsalmon;
  }
}
aside {
  min-height: 39vw;
  background-color: var(--medium-green);
  flex-basis: 25%;
  padding: 1%;
}
aside > section {
  margin-bottom: 2rem;
}
.pdf {
  width: 5rem;
}

h1 {
  font-size: 1.4rem;
}
@media screen and (min-width : 600px){
  h1 {
  font-size: 1.6rem;
  }
}
@media screen and (min-width : 1000px){
  h1 {
  font-size: 1.8rem;
  }
}

.top_logo {
  width: 1.8rem;
  padding: 0 0.7rem 0 0 ;
}
@media screen and (min-width: 600px){
  .top_logo {
    width: 2.5 rem;
  }
}

.banner {
  width: 100%;
}

h2 {
  font-size: 1.1rem;
}
@media screen and (min-width: 600px){
   h2 {
    font-size: 1.2rem;
  } 
}
@media screen and (min-width: 600px){
   h2 {
    font-size: 1.3rem;
  } 
}

h1,h2 {
  color: var(--blue);
}

.grey {
  color: var(--grey);
}

.red {
  color: var(--red);
}

audio,video {
  width: 100%;
}

footer {
  background-color: var(--green);
  color: white;
  padding: 1%;
}
footer  a{
  color: white;
}



.toggle_link {
  display: block; 
  font-size: .75rem;
  font-weight: normal;
  color: blue;
  text-decoration: underline dotted;
  font-family: "ubuntu-L" , Helvetica , Arial , sans-serif;
  cursor: pointer;
  margin-left: 10px;
}






